<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372264311041-vo177hp6strrhbqtat1lksjmhpjkido0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372264311041-vo177hp6strrhbqtat1lksjmhpjkido0</string>
	<key>API_KEY</key>
	<string>AIzaSyCjCnzZ0u4QBZq8zLy_Kx6gFc0Uw4qeQpE</string>
	<key>GCM_SENDER_ID</key>
	<string>372264311041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htu.playtopia</string>
	<key>PROJECT_ID</key>
	<string>flutter-final-project-e1e61</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-final-project-e1e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372264311041:ios:d8e7d0d277eed244b92300</string>
</dict>
</plist>